/* Styles généraux pour le tableau */
table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
    background-color: #333;
    color: #fff;
}

/* Styles pour les cellules du tableau */
th,
td {
    text-align: center;
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    padding: 12px 8px;
    background-color: #454d55;
    cursor: pointer;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.1);
}

/* Styles pour les lignes impaires */
tr:nth-child(odd) {
    background-color: #f9f9f9;
}

/* Styles pour les boutons de tri */
.sort-btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.sort-btn i {
    margin-left: 5px;
}

/* Pagination */
.pagination {
    text-align: center;
    margin-top: 20px;
    color: #fff;
}

/* Styles pour les couleurs de fond */
.bg-green {
    background-color: #00ff00;
}

.bg-yellow {
    background-color: #ffff00;
}

.bg-red {
    background-color: #ff0000;
}

.appointment-passed {
    background-color: #f2dede;
}

.table tbody tr td:nth-child(7) {
    text-align: center;
}

/* Styles pour les boutons */
.button {
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
    color: #fff;
    transition: background-color 0.3s;
}

.button:hover {
    opacity: 0.8;
}

.delete-appointment-button {
    background-color: #ff4d4d;
}

.delete-appointment-button:hover {
    background-color: #ff6666;
}

.move-appointment-button {
    background-color: #007bff;
}

.move-appointment-button:hover {
    background-color: #0056b3;
}

/* Styles pour les icônes dans les boutons */
.button i {
    font-size: 20px;
}

/* Styles pour la bulle d'aide */
.tooltip {
    visibility: hidden;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip-appointment {
    position: relative;
    display: inline-block;
}

.tooltip-appointment:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

/* Menu styles */
.menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
}

.menu button {
    margin-left: 10px;
}