<!DOCTYPE html>
<html lang="fr">
<head>
 <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Planning des rendez-vous</title>
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet">
    <!-- Ajoutez le lien vers votre favicon -->
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- DataTables CSS -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/dataTables.bootstrap4.min.css">
    <!-- DataTables JS -->
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap4.min.js"></script>
    <!-- FullCalendar CSS and JS -->
    <link href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.css' rel='stylesheet' />
    <script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.js'></script>
</head>
<body class="dark-mode">
    <!-- Entête -->
    {% include 'header.html' %}
    <!-- Menu -->
    {% include 'menu.html' %}
    <div class="container">
        <h1 class="text-center my-5">Liste des rendez-vous du
            <span style="color: blue;">{{ min_date | french_day }}</span>
            au
            <span style="color: blue;">{{ max_date | french_day }}</span>
        </h1>
        <div class="row mb-3">
            <div class="col">
                <form id="calendarForm">
                    <label for="calendarDate">Sélectionner une date :</label>
                    <input type="date" id="calendarDate" name="calendarDate">
                    <button type="submit">Afficher le calendrier</button>
                </form>
            </div>
        </div>
        <!-- Ajout des champs de recherche pour chaque en-tête de colonne -->
        <div class="row mb-3">
            <div class="col-md-6">
                <input type="text" id="Filtre_health_professional_name" data-column="0" data-type="text"
                    placeholder="Filtrer par médecin...">
            </div>
            <div class="col-md-6">
                <input type="text" id="Filtre_name" data-column="2" data-type="text" placeholder="Filtrer par patient...">
            </div>
        </div>
        <!-- Tableau -->
        <div class="row">
            <div class="col">
                <table id="appointmentTable" class="table table-bordered text-center">
                    <thead class="table-dark">
                        <tr>
                            <th scope="col" onclick="sortTable(0)">Médecin <button class="sort-btn"><i class="fa fa-sort"></i></button></th>
                            <th scope="col" onclick="sortTable(1)">Civilité <button class="sort-btn"><i class="fa fa-sort"></i></button></th>
                            <th scope="col" onclick="sortTable(2)">Nom <button class="sort-btn"><i class="fa fa-sort"></i></button></th>
                            <th scope="col" onclick="sortTable(3)">Prénom <button class="sort-btn"><i class="fa fa-sort"></i></button></th>
                            <th scope="col" onclick="sortTable(4)">Sexe <button class="sort-btn"><i class="fa fa-sort"></i></button></th>
                            <th scope="col" onclick="sortTable(5)">Date de naissance <button class="sort-btn"><i class="fa fa-sort"></i></button></th>
                            <th scope="col" onclick="sortTable(6)">Age <button class="sort-btn"><i class="fa fa-sort"></i></button></th></th> 
                            <th scope="col" onclick="sortTable(7)">Téléphone <button class="sort-btn"><i class="fa fa-sort"></i></button></th></th> 
                            <th scope="col" onclick="sortTable(8)">Date du rendez-vous <button class="sort-btn"><i class="fa fa-sort"></i></button></th>
                            <th scope="col" onclick="sortTable(9)">Heure <button class="sort-btn"><i class="fa fa-sort"></i></button></th>
                            <th scope="col" onclick="sortTable(10)">Statut <button class="sort-btn"><i class="fa fa-sort"></i></button></th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                <tbody>
                {% for appointment in appointments %}
                <tr {% if appointment.appointment_time < now %} class="appointment-passed" {% endif %}>
                    <td>{{ appointment.health_professional_name }}</td>
                    <td>{{ appointment.patient.prefix }}</td>
                    <td>{{ appointment.patient.name }}</td>
                    <td>{{ appointment.patient.first_name }}</td>
                    <td>{{ appointment.patient.sex }}</td>
                    <td>{{ appointment.patient.date_of_birth }}</td>
                    <td>{{ appointment.patient.phone }}</td>
                    <td class="appointment-date" data-date="{{ appointment.appointment_time }}">
                        {{ appointment.appointment_time.strftime('%d-%m-%Y') }}
                    </td>
                    <td>{{ appointment.appointment_time.strftime('%H:%M') }}</td>
                    <td>
                        <select onchange="changeStatus('{{ appointment.id }}', this.value)">
                            <option value="A venir" {% if appointment.status=='A venir' %} selected {% endif %}>A venir</option>
                            <option value="Absent non-excusé" {% if appointment.status=='Absent non-excusé' %} selected {% endif %}>
                                Absent
                                non-excusé</option>
                            <option value="Absent excusé" {% if appointment.status=='Absent excusé' %} selected {% endif %}>Absent
                                excusé
                            </option>
                            <option value="Vu" {% if appointment.status=='Vu' %} selected {% endif %}>Vu</option>
                            <option value="En salle d'attente" {% if appointment.status=='En salle d\' attente' %} selected {% endif %}>
                                En salle
                                d'attente</option>
                            <option value="Non vérifié" {% if appointment.status=='Non vérifié' %} selected {% endif %}>Non vérifié
                            </option>
                        </select>
                    </td>
                    <td>
                        {% if appointment.appointment_time < now %} <button class="confirm-appointment-button"
                            onclick="confirmAppointment('{{ appointment.id }}')" title="Confirmer le rendez-vous">
                            <i class="fa fa-check"></i> Confirmer
                            </button>
                            <i class="fa fa-flag" style="color: red;"></i> Rendez-vous dépassé
                            {% else %}
                            <form id="deleteForm_{{ appointment.id }}"
                                onsubmit="event.preventDefault(); deleteAppointment('{{ appointment.id }}');">
                                <button class="delete-appointment-button" type="submit" title="Supprimer le rendez-vous">
                                    <i class="fa fa-trash"></i> Supprimer
                                </button>
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                            </form>
                            <button class="move-appointment-button" onclick="moveAppointment('{{ appointment.id }}')"
                                title="Déplacer le rendez-vous">
                                <i class="fa fa-arrows-alt"></i> Déplacer
                            </button>
                            {% endif %}
                    </td>
                </tr>
                {% endfor %}

                </tbody>
                </table>
                <!-- Script pour initialiser DataTables -->
                <script>
                    $(document).ready(function () {
                        $('#appointmentTable').DataTable({
                            "paging": true,
                            "searching": false,
                            "info": true,
                            "autoWidth": false,
                            "order": []
                        });

                        $('#calendarForm').on('submit', function (event) {
                            event.preventDefault();
                            var date = $('#calendarDate').val();
                            window.location.href = '/calendrier?date=' + date;
                        });

                        function sortTable(n) {
                            var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
                            table = document.getElementById("appointmentTable");
                            switching = true;
                            dir = "asc";
                            while (switching) {
                                switching = false;
                                rows = table.rows;
                                for (i = 1; i < (rows.length - 1); i++) {
                                    shouldSwitch = false;
                                    x = rows[i].getElementsByTagName("TD")[n];
                                    y = rows[i + 1].getElementsByTagName("TD")[n];
                                    if (dir == "asc") {
                                        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                                            shouldSwitch = true;
                                            break;
                                        }
                                    } else if (dir == "desc") {
                                        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                                            shouldSwitch = true;
                                            break;
                                        }
                                    }
                                }
                                if (shouldSwitch) {
                                    rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                                    switching = true;
                                    switchcount++;
                                } else {
                                    if (switchcount == 0 && dir == "asc") {
                                        dir = "desc";
                                        switching = true;
                                    }
                                }
                            }
                        }

                        window.changeStatus = function (appointmentId, newStatus) {
                            $.ajax({
                                url: '/update_status',
                                method: 'POST',
                                data: { appointmentId: appointmentId, newStatus: newStatus },
                                success: function (response) {
                                    location.reload();
                                },
                                error: function (error) {
                                    alert('Erreur lors de la mise à jour du statut.');
                                }
                            });
                        };

                        window.confirmAppointment = function (appointmentId) {
                            $.ajax({
                                url: '/confirm_appointment',
                                method: 'POST',
                                data: { appointmentId: appointmentId },
                                success: function (response) {
                                    location.reload();
                                },
                                error: function (error) {
                                    alert('Erreur lors de la confirmation du rendez-vous.');
                                }
                            });
                        };
                    });
                </script>
            </div>
        </div>
        <!-- Pagination -->
        <div class="row">
            <div class="col">
                <div class="pagination">
                    <label for="items-per-page">Elements par page :</label>
                    <select id="items-per-page">
                        <option value="50">50</option>
                        <option value="100">100</option>
                        <option value="500">500</option>
                    </select>
                    <span id="page-info">
                        {% if appointments|length > 0 %}
                            {% set start_index = (appointments|length > 0) and ((1 - 1) * 50 + 1) or 0 %}
                            {% set end_index = (appointments|length > 0) and (1 * 50) or 0 %}
                            {{ start_index }} - {{ end_index }} sur {{ total_appointments }}
                        {% else %}
                            0 - 0 sur 0
                        {% endif %}
                    </span>
                    <button class="prev-page">&lt;</button>
                    <button class="next-page">&gt;</button>
                </div>
            </div>
        </div>
    </div>
    <div id="last-refresh"></div>
    <!-- Inclusion du fichier Moment.js -->
    <script> const totalAppointments = "{{ total_appointments }}"; </script>
    <!-- Script JS pour la pagination -->
    <script src="{{ url_for('static', filename='pagination.js') }}"></script>
    <!-- Inclusion du fichier JavaScript externe -->
    <script src="{{ url_for('static', filename='sort.js') }}"></script>
    <!-- Script JS pour la pagination -->
    <!-- Script JS pour les filtres -->
    <script src="{{ url_for('static', filename='filter.js') }}"></script>
    <script src="{{ url_for('static', filename='logout.js') }}"></script>
    <script src="{{ url_for('static', filename='manageappointment.js') }}"></script>
    <div id="calendar"></div>
    <script>
        $(document).ready(function () {
            $('#calendar').fullCalendar({
                events: '/api/getAppointments',
                editable: true,  // Rendre les événements éditables (pour le glisser-déposer)
                eventDrop: function (event) {
                    // Logique de mise à jour du rendez-vous après déplacement
                    fetch(`/move-appointment/${event.id}`, {
                        method: 'PATCH',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ newPlanning: event.start.format() })
                    })
                        .then(response => {
                            if (response.ok) {
                                window.location.reload();
                            } else {
                                console.error('Erreur lors du déplacement du rendez-vous');
                            }
                        })
                        .catch(error => console.error('Erreur réseau :', error));
                }
            });
        });
    </script>
    <script>
        function showCalendar(date) {
            // Vous pouvez implémenter ici la logique pour afficher un calendrier avec la date passée en paramétre
            // Par exemple, vous pouvez utiliser une bibliothéque JavaScript comme FullCalendar.js pour afficher un calendrier interactif
            alert('Afficher le calendrier pour la date : ' + date);
        }
    </script>
    <script>// Fonction pour mettre à jour la date du dernier rafraîchissement
        function updateLastRefresh() {
            const lastRefreshElement = document.getElementById('last-refresh');
            const currentDate = new Date();
            lastRefreshElement.textContent = `Dernier rafraîchissement : ${currentDate.toLocaleString()}`;
        }

        // Mettre à jour la date du dernier rafraîchissement lorsque la page est chargée
        updateLastRefresh();

        // Ensuite, à chaque rafraîchissement de la page, appelez également la fonction updateLastRefresh()
        window.addEventListener('load', function () {
            setInterval(updateLastRefresh, refreshInterval);
        });
    </script>
    <script>
       // Fonction pour calculer l'âge à partir de la date de naissance
        function calculateAge(dateOfBirth) {
            // Vérifier si la date de naissance est valide
            const dobParts = dateOfBirth.split('-');
            const dobDay = parseInt(dobParts[0]);
            const dobMonth = parseInt(dobParts[1]) - 1; // Mois est 0-indexé dans JavaScript
            const dobYear = parseInt(dobParts[2]);

            // Si la date est invalide, retourner NaN
            if (isNaN(dobDay) || isNaN(dobMonth) || isNaN(dobYear)) {
                return NaN;
            }

            const today = new Date();
            const birthDate = new Date(dobYear, dobMonth, dobDay);
            let age = today.getFullYear() - birthDate.getFullYear();
            const month = today.getMonth() - birthDate.getMonth();
            if (month < 0 || (month === 0 && today.getDate() < birthDate.getDate())) {
                age--;
            }
            return age;
        }
        // Parcourez les lignes du tableau pour calculer et afficher l'âge de chaque patient
        const rows = document.querySelectorAll('tbody tr');
        rows.forEach(row => {
            const dateOfBirth = row.cells[5].textContent; // Récupérer la date de naissance du patient depuis la cellule correspondante
            const age = calculateAge(dateOfBirth); // Calculer l'âge à partir de la date de naissance
            const ageCell = document.createElement('td'); // Créer une nouvelle cellule pour afficher l'âge

            // Vérifier si l'âge est NaN (indiquant une date de naissance invalide) et afficher un message d'erreur si nécessaire
            if (isNaN(age)) {
                ageCell.textContent = 'Date de naissance invalide';
            } else {
                ageCell.textContent = age; // Ajouter l'âge calculé dans la cellule
            }

            // Insérer la cellule d'âge après la cellule de la date de naissance
            row.cells[5].insertAdjacentElement('afterend', ageCell);
        });
    </script>
<script>
    window.addEventListener('beforeunload', function (event) {
        // Appeler l'API /logout pour effectuer la déconnexion lorsque la fenêtre du navigateur est fermée
        fetch('/logout', {
            method: 'POST' // ou 'GET' selon la méthode utilisée par votre API
        })
            .then(response => {
                if (response.ok) {
                    // Ne rien faire de spécial ici, mais la déconnexion aura lieu côté serveur
                } else {
                    console.error('Erreur lors de la déconnexion');
                }
            })
            .catch(error => console.error('Erreur réseau :', error));
    });
</script>
<script>
    $(document).ready(function () {
            // Gérer la soumission du formulaire pour afficher le calendrier
            $('#calendarForm').submit(function (event) {
                event.preventDefault(); // Empêcher le rechargement de la page par défaut
                const selectedDate = $('#calendarDate').val(); // Récupérer la date sélectionnée

                // Initialiser ou recharger le calendrier avec la date sélectionnée
                $('#calendar').fullCalendar({
                    defaultDate: selectedDate, // Définir la date par défaut sur celle sélectionnée
                    editable: true,  // Rendre les événements éditables (si nécessaire)
                    events: '/api/getAppointments' // Charger les événements pour cette date (s'il y en a)
                });
            });
        });
</script>
</body>
</html>